// ======================================================
//  CUSTOM THEME - Angular Material M3
// ======================================================

// 1. TODOS LOS @use SIEMPRE ARRIBA
@use '@angular/material' as mat;

// 2. APLICAMOS EL TEMA A <html>
html {
  @include mat.theme((
    color: (
      primary: mat.$azure-palette,
      tertiary: mat.$blue-palette,
    ),
    typography: Roboto,
    density: 0,
  ));
}

// 3. ESTILOS GENERALES DE <body>
body {
  color-scheme: light;
  background-color: var(--mat-sys-surface);
  color: var(--mat-sys-on-surface);
  font: var(--mat-sys-body-medium);
  margin: 0;
}
