<header class="header">
  <div class="left-section">
    <div class="logo">RESERVAS<span>SOTO</span></div>

    <nav class="menu">
      <a>Inicio</a>
      <a>Canchas</a>
      <a>Reservas</a>
    </nav>
  </div>

  <div class="right-buttons">
    <button mat-stroked-button color="primary" (click)="goToLogin()">Iniciar sesión</button>
    <button mat-raised-button color="accent" (click)="goToRegister()">Registrarse</button>
  </div>
</header>


<section class="hero">

  <div class="hero-content">
    <h1>LA MEJOR FORMA DE RESERVAR CANCHAS EN JULIACA</h1>

    <p>Encuentra las mejores canchas deportivas y reserva en segundos.</p>

    <div class="hero-buttons">
      <button mat-raised-button color="primary" (click)="goToLogin()">Reservar Ahora</button>
    </div>
  </div>

  <div class="decor-ball"></div>
  <div class="decor-line"></div>

</section>
